.songItem {
  cursor: pointer;
  color : rgb(255, 255, 255);
  background-color: rgba(248, 60, 170, 0.515);
  &:hover {
    background-color: rgba(211, 30, 120, 0.638) !important;
    transform: scale(.98,.98);
    -webkit-transform: scale(.98,.98);
    -moz-transform: scale(.98,.98);
    -ms-transform: scale(.98,.98);
    -o-transform: scale(.98,.98);
}
  transition: all 432ms ease ;
  -webkit-transition: all 432ms ease ;
  -moz-transition: all 432ms ease ;
  -ms-transition: all 432ms ease ;
  -o-transition: all 432ms ease ;
}

.activeSongItem
{
  background-color: rgba(65, 105, 225, 0.631) !important;
}
